*{
	margin: 0px;

	/*box-sizing: content-box;*/
	/*box-sizing: border-box;*/
}

.center{
	text-align: center;
	align-content: center;
	justify-content: center;
/*margin-left: 30px;*/
    /*width: 160px;*/

}
li{
	display: inline-block;
}
header>nav>ul>li>img{
	width: 100px;
	margin-right: 50px;
}
header>nav>ul{
	/*width: 100%;*/
	background: #EFEDDF;
}
header>nav>ul>li{
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
}
ul{
	padding: 25px;
}
a{
	text-decoration: none;
	color: #302E2F;
	font-size: 200%;
	/*
		font-size
	*/
}

a:hover {
    color: #7E7268;
    font-size: 220%;
    /*transition: ease-in-out 0.3s;*/
    /*
		add animation
		font-size
	*/
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    padding-left: 10%;
}
.ads {
  	grid-area: aside;
  	background: #efeddf;
  	color: ;
  	padding: 50px;

   -moz-box-shadow:    inset 2 2 10px #302e2f;
   box-shadow:         inset 2 2 10px #302e2f;
    margin-top: 30px;
    border-radius: 10px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    background: linear-gradient(270deg, #efeddf, #bfbeb2, #7e7c76);
    background-size: 800% 800%;
    animation: gradient 40s ease infinite;
    box-shadow: 2px 9px 18px #888888;
}

footer {
    grid-area: footer;
    background: #EFEDDF;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: middle;
    padding: 10px;

}

#footer-logo {
    margin-top: 35px;

}
body{
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-template-rows: auto;
  	grid-template-areas: 
  	  "header header header header"
  	  "main main main aside"
  	  "footer footer footer footer";
    background-color: #fffdf4;
}
.ft_event>h1{
	grid-area: title;
	font-weight: bold;
}
.ft_event_img{
	grid-area: photo;
	margin-top: 30px;
}
.ft_event_text{
	grid-area: text;
	margin-top: 30px;
	padding: 20px;
	vertical-align: middle;
	text-indent: 20px;
}
.ft_event_text>p{
	/*vertical-align: middle;*/
	margin-top: auto;
	margin-bottom: auto;
}
.ft_event_img>img{
	width: 100%;
}
.ft_event{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"title title title title"
	"photo text text text"
}
.calendar{
	height: 500px;
	background: #7E7268;
}
section{
  	padding-top: 50px;
  	padding-bottom: 50px;
}
section>h1{
	font-size: 30px;
}
.artist-search::placeholder {

    font-size: 14px;
    font-family: alternate-gothic-no-1-d, sans-serif;
    font-weight: 400;
    font-style: normal;
   padding: 10px;


}
.artist-search {
    height: 30px;
    width: 90%;
     box-shadow: 1px 0.1px 18px #888888;
    margin-top: 10px;
    margin-left: -1px;
}


.past_event_grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.past_event{
	margin: 20px;
}
.past_event_text{
	background: #777;
	/*display: inline-block;*/
	max-width: 200px;
	padding: 20px;
}
.past_event_img{
	background: #888;
	/*display: inline-block;*/
}
.past_event_img>img{
	width: 100px;
	margin: 20px;
}
.main_art{
	background: 
		linear-gradient(
			to left,
			rgba(239, 237, 223,1) 15%,
			rgba(239, 237, 223,0) 50%
			),
		linear-gradient(
			rgba(239, 237, 223,1) 20px,
			rgba(239, 237, 223,0)
			),
		url('imgs/israel_plads.jpg') no-repeat center
	;
	height: 500px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
    box-shadow: 2px 9px 18px #888888;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
.artist_header>img{
	max-width: 130px;
	border-radius: 50%;
	margin-bottom: 10px;
    margin-top: 30px;
    align-content: center;
    /*margin-left: 40px;*/
    /*margin-right: auto;*/
    box-shadow: 2px 9px 18px #888888;
}
.artist_header h1{
    font-size: 30px;
    align-content: center;
    text-align: center;
    margin-top: 70px;

}
.main_art>.highlight_text{
	/*align-self: flex-start;*/
	position: absolute;
	left: 12%;
}
.main_art>.highlight_text h1, .main_art>.highlight_text h3{
	font-weight: bold;



}
.highlight_text {
    margin-top: -170px;
    margin-left: -120px;
    font-family: alternate-gothic-no-2-d, sans-serif;
    font-weight:400;
    font-style: normal;
    color: #302e2f;
    font-size: 130px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(320deg, #fffdf4, #302e2f, #2E2E2B, #D6D4C7, #33332F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    animation: gradient 10s ease infinite;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(40eg);
  }
  to {
    -webkit-filter: hue-rotate(-160deg);
  }
}
@keyframes color-change {
    0% {
        color: #fffdf4;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}
.artists{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 0px;
}
/*.artist img{
	max-width: 200px;
	border-radius: 100%;
	margin-bottom: 10px;
}*/
.artist>p{
	max-width: 200px;
}
.artist{
	margin: 20px;
}
.calendar_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main aside"
        "footer footer footer footer";
    background-color: #fffdf4;
}

.ft_event > h1 {
    grid-area: title;
    font-weight: bold;
}

.ft_event_img {
    grid-area: photo;
    margin-top: 30px;
}

.ft_event_text {
    grid-area: text;
    margin-top: 30px;
    padding: 20px;
    vertical-align: middle;
    text-indent: 20px;
}
.artwork_img{
	grid-area: art_head_img;
	height: 300px;
	/*max-width: 100%;*/
	background: 
	linear-gradient(
		to right,
		rgba(255, 255, 255, 1) , 
		rgba(255, 255, 255, 0) 30px
		),
	url('imgs/israel_plads.jpg') no-repeat center;
}
.art_artist{
	grid-area: art_artist;
}
.art_artist>img{
	max-width: 150px;
	border-radius: 100%;
	padding: 20px;
	padding-bottom: 10px;
}
.art_quote{
	padding: 20px;
	grid-area: art_quote;
	display: flex;
	align-items: center;
}
.art_description{
	grid-area: art_description;
	padding: 20px;
	text-indent: 20px;
}
.art_more{
	grid-area: art_more;
}
.art_title{
	grid-area: art_title;
}
.exhibition{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"art_head_img art_head_img art_head_img art_head_img"
	"art_title art_title art_title art_title"
	"art_artist art_quote art_quote art_quote"
	"art_description art_description art_description art_description"
	"art_more art_more art_more art_more";
}
.art_more_img{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.art_more_img>div>img{
	max-width: 200px;
}
.main_artist{
	background: 
		linear-gradient(
			rgba(239, 237, 223,1) 20px,
			rgba(239, 237, 223,0)
			),
		url('imgs/israel_plads_2.jpg') no-repeat center
	;
	height: 500px;
	display: flex;
	/*flex-direction: row-reverse;*/
	justify-content: center;
	align-items: center;
}
.artist_bg img{
	max-width: 200px;
	border-radius: 50%;
	box-shadow: 0px 10px 5px #302E2F;
	margin-bottom: 10px;
}
.artist_work{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.artist_work>div>img{
	max-width: 400px;
}
button {
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: #efeddf;
    box-shadow: 1px 1px 18px #888888;
    border: 0.5px #302e2f 0.8%;
    border-style: solid;
}.artwork_img{
	grid-area: art_head_img;
	height: 300px;
	/*max-width: 100%;*/
	background: 
	linear-gradient(
		to right,
		rgba(255, 255, 255, 1) , 
		rgba(255, 255, 255, 0) 30px
		),
	url('imgs/israel_plads.jpg') no-repeat center;
}
.art_artist{
	grid-area: art_artist;
}
.art_artist>img{
	max-width: 150px;
	border-radius: 100%;
	padding: 20px;
	padding-bottom: 10px;
}

.art_quote{
	padding: 20px;
	grid-area: art_quote;
	display: flex;
	align-items: center;
}
.art_description{
	grid-area: art_description;
	padding: 20px;
	text-indent: 20px;
}
.art_more{
	grid-area: art_more;
}
.art_title{
	grid-area: art_title;
}
.exhibition{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"art_head_img art_head_img art_head_img art_head_img"
	"art_title art_title art_title art_title"
	"art_artist art_quote art_quote art_quote"
	"art_description art_description art_description art_description"
	"art_more art_more art_more art_more";
}
.art_more_img{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.art_more_img>div>img{
	max-width: 200px;
}
.ft_event_text > p {
    /*vertical-align: middle;*/
    margin-top: auto;
    margin-bottom: auto;
}

.ft_event_img > img {
    width: 100%;
}

.ft_event {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "title title title title"
        "photo text text text"
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section > h1 {
    font-size: 30px;
}

.artist-search::placeholder {

    font-size: 14px;
    font-family: alternate-gothic-no-1-d, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;


}

.artist-search {
    height: 30px;
    max-width: 50%;
    box-shadow: 1px 0.1px 18px #888888;
    margin-top: 10px;
    margin-left: -1px;
    margin-right: 10px;
}

.contact {
    box-shadow: 1px 0.1px 18px #888888;
    text-align: center;
    /*height: 200px;*/
    max-width: 40%;
    /*margin-top: 10px;
    margin-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 75px; 
    padding-left: 75px;*/ 
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact > h3 {
    /*margin-top: 70px;*/
    padding: 20px;
    color: #302e2f;

}
.contact_us{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact_ft{
	display: flex;
	flex-wrap: wrap;
}
.past_event_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.past_event {
    margin: 20px;
}

.past_event_text {
    background: #777;
    /*display: inline-block;*/
    max-width: 200px;
    padding: 20px;
}

.past_event_img {
    background: #888;
    /*display: inline-block;*/
}

.past_event_img > img {
    width: 100px;
    margin: 20px;
}

.main_art {
    background:
        linear-gradient(to left,
            rgba(239, 237, 223, 1) 15%,
            rgba(239, 237, 223, 0) 50%),
        linear-gradient(rgba(239, 237, 223, 1) 20px,
            rgba(239, 237, 223, 0)),
        url('imgs/israel_plads.jpg') no-repeat center;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 2px 9px 18px #888888;
}

#calen {
    background:
        linear-gradient(to left,
            rgba(239, 237, 223, 1) 10%,
            rgba(239, 237, 223, 0) 50%),
        linear-gradient(rgba(239, 237, 223, 1) 20px,
            rgba(239, 237, 223, 0)),
        url('imgs/calen.jpg') no-repeat center;
}

#ads-cal {
    margin-top: 900px;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.artist_header > img {
    max-width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 30px;
    align-content: center;
    /*margin-left: 40px;*/
    margin-right: auto;
    box-shadow: 2px 9px 18px #888888;
}

.artist_header > h4 {
    font-family: alternate-gothic-no-1-d, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.artist_header > h1 {
    font-size: 30px;
    align-content: center;
    text-align: center;
    margin-top: 70px;
    font-family: alternate-gothic-no-1-d, sans-serif;
    text-transform: uppercase;
}

.main_art > .highlight_text {
    /*align-self: flex-start;*/
    position: absolute;
    left: 12%;
}

.main_art > .highlight_text h1,
.main_art > .highlight_text h3 {
    font-weight: bold;



}

.main_art-cal {
    background:
        linear-gradient(to left,
            rgba(239, 237, 223, 1) 15%,
            rgba(239, 237, 223, 0) 50%),
        linear-gradient(rgba(239, 237, 223, 1) 20px,
            rgba(239, 237, 223, 0)),

        height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 2px 9px 18px #888888;
    width: 100%;
    align-content: flex-start;
    float: left;
}

.cal-img {
    align-content: left;
    width: 600px;
    display: flex;
    height: 500px;
    background:
        linear-gradient(to left,
            rgba(239, 237, 223, 1) 15%,
            rgba(239, 237, 223, 0) 50%),
        linear-gradient(rgba(239, 237, 223, 1) 20px,
            rgba(239, 237, 223, 0)),
}



.main_art-cal > .highlight_text {
    /*align-self: flex-start;*/
    position: absolute;
    left: 12%;
}

.main_art-cal > .highlight_text h1,
.main_art > .highlight_text h3 {
    font-weight: bold;



}

.highlight_text {
    margin-top: -170px;
    margin-left: -120px;
    font-family: alternate-gothic-no-2-d, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #302e2f;
    font-size: 130px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(320deg, #fffdf4, #302e2f, #2E2E2B, #D6D4C7, #33332F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s ease infinite;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(40eg);
    }

    to {
        -webkit-filter: hue-rotate(-160deg);
    }
}

@keyframes color-change {
    0% {
        color: #fffdf4;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

.artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 100%;
}

.artist img {
    /*max-width: 200px;*/
    margin-bottom: 10px;
    height: 100%;
}
.artist>div{
	height: 200px;
	width: 200px;
    border-radius: 50%;
	overflow: hidden;
}
.artist >h4{
	margin-top: 10px;
}
.artist > p {
    max-width: 200px;
}

.artist {
    margin: 20px;
}
.artist_header >div{
	width: 130px;
	height: 130px;
	overflow: hidden;
	border-radius: 50%; 
	display: inline-block;
	margin: 15px 0px;
}
.artist_header>div>img{
	height: 100%; 
}
button {
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: #efeddf;
    box-shadow: 1px 1px 18px #888888;
    border: 0.5px #302e2f 0.8%;
    border-style: solid;
}

.ads,
#events-more {
    margin-top: 160px;
    height: 700px;
}

.event-pic {
    width: 200px;
}
/*

	Example gradient for artist page

.tinted-image {

  width: 300px;
  height: 200px;

  background:
    linear-gradient(
      to left,
      rgba(255, 0, 0, 1) 50%,
      rgba(255, 0, 0, 0)
    ),
    linear-gradient(
      rgba(255,0,0,1),
      rgba(255,0,0,0) 25%
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/owl1.jpg);
}

*/
/*
#302E2F
#7E7268
#EFEDDF
#FFFDF4
*/
body,
html {

    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1,
p {
    text-align: center;
}

p {
    width: 100%;
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
}

a:link,
a:hover,
a:active,
a:visited {
    -webkit-transition: color 150ms;
    transition: color 150ms;
    text-decoration: none;
}

a:hover {
    color: #7b7368;
    text-decoration: none;
}
h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce .8s ease infinite alternate;
          animation: bounce .9s ease infinite alternate;


  line-height:90px;
  color: #302e2f;
}

h1 span:nth-child(2) { -webkit-animation-delay: .1s; animation-delay: .1s; }
h1 span:nth-child(3) { -webkit-animation-delay: .2s; animation-delay: .2s; }
h1 span:nth-child(4) { -webkit-animation-delay: .3s; animation-delay: .3s; }
h1 span:nth-child(5) { -webkit-animation-delay: .4s; animation-delay: .4s; }
h1 span:nth-child(6) { -webkit-animation-delay: .5s; animation-delay: .5s; }
h1 span:nth-child(7) { -webkit-animation-delay: .6s; animation-delay: .6s; }


@-webkit-keyframes bounce {
  100% {
    top: -20px;

  }
}

@keyframes bounce {
  100% {
    top: -20px;

  }
}
.contain {
    width: 100%;
}

.row {
    overflow: scroll;
    width: 100%;
}

.row__inner {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70.3125px 0;
    padding-bottom: 10px;

}

.tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.tile__img {
    width: 250px;
    height: 250.625px;
    -o-object-fit: cover;
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;

}

.light-cover {
    font-size: 25px;
    overflow: hidden;
    color: #efeddf;
    text-shadow: 2px 2px 5px #7E7268;
    padding-right: 10px;
}



.tile__details:after {
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.like-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    margin-top: 40px;
}
.fav > p {
    /*margin-left: -23px;*/
}
.fav-img {
    width: 50px;
}
.advert {
     width: 100%;
    height: auto;
    padding: 0px;


}

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.row__inner:hover {
    -webkit-transform: translate3d(-62.5px, 0, 0);
    transform: translate3d(-62.5px, 0, 0);
}

.row__inner:hover .tile {
    opacity: 0.3;
}

.row__inner:hover .tile:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

.tile:hover ~ .tile {
    -webkit-transform: translate3d(125px, 0, 0);
    transform: translate3d(125px, 0, 0);
}

@media only screen and (max-width: 800px) {
    header > nav > ul > li:first-child {
        display: block;
        text-align: center;
        margin: 20px;
    }

    header > nav > ul {
        align-content: center;
        text-align: center;
    }

    header > nav > ul > li > img {
        margin: 0px;
    }

    .ft_event {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "title title title title"
            "photo photo photo photo"
            "text text text text"
    }

}

.ft_event_img > img {
    max-width: 66%;
    margin-right: 10px;
    margin-left: 10px;
}

.ft_event_img {
    text-align: center;
}
.new_contact{
	box-shadow: 1px 0.1px 18px #888888;
    text-align: center;
    width: 33%;
    max-width: 40%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*a{
	transition: ease-in-out 0.3s;
	font-size: 200%;
}*/
@media only screen and (max-width: 1100px) {
	.contact input{
		margin-bottom: 10px;
		max-width: 90%;
	}
}
@media only screen and (max-width: 1000px) {
	.calendar_page{
		grid-template-areas: 
		"header header header header"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
	}
	.highlight_text{
		display: none;
	}
	.advert{
		width: auto;
		max-height: 100%;
	}
	.ads>.content {
		height: 100%;
		text-align: center;
	}
	.contact h3{
		font-size: 40px;
	}
	.new_contact button{
		margin: 15px;
	}
	.ads, #events-more {
	    margin-top: 160px;
	    height: 700px;
	}
}
@media only screen and (max-width: 550px) {
header>nav>ul>li{
		display: block;
		text-align: center;
		margin: 20px;
	}
	header>nav>ul{
		align-content: center;
		text-align: center;
	}
	header>nav>ul>li>img{
		margin: 0px;
	}
	main {
	  	padding-left: 10px;
	}
	.ft_event_img>img{
		max-width: 80%;
	}
	.contact h3{
		font-size: 30px;
	}
	.contact input{
		max-width: 80%;
	}
	.contact{
		width: 80%;
	}
	nav a {
	    font-size: 100%;
	}
	.main_art {
		background: /*linear-gradient(to left, rgba(239, 237, 223, 1) 5%,
						rgba(239, 237, 223, 0) 25%),
					linear-gradient(to right, rgba(239, 237, 223, 1) 5%,
						rgba(239, 237, 223, 0) 25%),*/
					linear-gradient(rgba(239, 237, 223, 1) 20px,
						rgba(239, 237, 223, 0)),
					url(imgs/israel_plads.jpg) no-repeat center;
	    height: 500px;
	    display: flex;
	    flex-direction: row-reverse;
	    align-items: center;
	    box-shadow: 2px 9px 18px #888888;
		justify-content: center;
	}
	.artist_header{
		margin-right: 0px;
	}
}
@media only screen and (max-width: 800px) {
	.contact button{
			font-size: 15px;
			margin: 15px 10px;
	}
	.contact{
		margin-right: 20px;
		padding-right: 10px; 
		margin-left: 20px;
		padding-left: 10px; 
	}
	/*.new_contact button{
		font-size: 15px;
		margin: 15px 10px;
	}*/
	.new_contact, .ft_logo{
		max-width: none;
		width: 80%
	}
	.page-logo{
		width: 100px;
		margin-bottom: 10px;
	}
	nav a {
	    font-size: 125%;
	}
}
