*{
	margin: 0px;
	/*box-sizing: content-box;*/
	/*box-sizing: border-box;*/
}
.center{
	text-align: center;
	align-content: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}
li{
	display: inline-block;
}
header>nav>ul>li>img{
	width: 100px;
	margin-right: 50px;
}
header>nav>ul{
	/*width: 100%;*/
	background: #EFEDDF;
}
header>nav>ul>li{
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
}
ul{
	padding: 25px;
}
a{
	text-decoration: none;
	color: #302E2F;
	font-size: 200%;
	/*transition: ease-in-out 0.3s;*/
	/*
		font-size
	*/
}
a:hover{
	color: #7E7268;
	font-size: 220%;
	/*transition: ease-in-out 0.3s;*/
	/*
		add animation
		font-size
	*/
}
header {
  	grid-area: header;
}
main {
  	grid-area: main;
  	padding-left: 10%;
}
aside {
  	grid-area: aside;
  	background: #302E2F;
  	color: #FFFDF4;
  	padding: 50px;
  	/*max-height: 100vh;*/
}
footer {
  	grid-area: footer;
  	background: #EFEDDF;
  	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	vertical-align: middle;
	padding-top: 50px;
	padding-bottom: 50px;
}
.calendar_page {
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-template-rows: auto;
  	grid-template-areas: 
  	  "header header header header"
  	  "main main main aside"
  	  "footer footer footer footer";
}
.ft_event>h1{
	grid-area: title;
	font-weight: bold;
}
.ft_event_img{
	grid-area: photo;
	margin-top: 30px;
}
.ft_event_text{
	grid-area: text;
	margin-top: 30px;
	padding: 20px;
	vertical-align: middle;
	text-indent: 20px;
}
.ft_event_text>p{
	/*vertical-align: middle;*/
	margin-top: auto;
	margin-bottom: auto;
}
.ft_event_img>img{
	width: 100%;
}
.ft_event{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"title title title title"
	"photo text text text"
}
.calendar{
	height: 500px;
	background: #7E7268;
}
section{
  	padding-top: 50px;
  	padding-bottom: 50px;
}
section>h1{
	font-weight: bold;
}
.past_event_grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.past_event{
	margin: 20px;
}
.past_event_text{
	background: #777;
	/*display: inline-block;*/
	max-width: 200px;
	padding: 20px;
}
.past_event_img{
	background: #888;
	/*display: inline-block;*/
}
.past_event_img>img{
	width: 100px;
	margin: 20px;
}
.main_art{
	background: 
		linear-gradient(
			to left,
			rgba(239, 237, 223,1) 15%,
			rgba(239, 237, 223,0) 50%
			),
		linear-gradient(
			rgba(239, 237, 223,1) 20px,
			rgba(239, 237, 223,0)
			),
		url('imgs/israel_plads.jpg') no-repeat center
	;
	height: 500px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

}
.artist_header{
	/*align-self: flex-end; */
	position: relative;
	right: 12%;
}
.artist_header>img{
	max-width: 200px;
	border-radius: 50%;
	box-shadow: 5px 5px 5px #302E2F;
	margin-bottom: 10px;
}
.main_art>.highlight_text{
	/*align-self: flex-start;*/
	position: absolute;
	left: 12%;
}
.main_art>.highlight_text h1, .main_art>.highlight_text h3{
	font-weight: bold;
	text-shadow: 1px 1px #EFEDDF;
}
.artists{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.artist>img{
	max-width: 200px;
	border-radius: 100%;
	margin-bottom: 10px;
}
.artist>p{
	max-width: 200px;
}
.artist{
	margin: 20px;
}

/*

	Example gradient for artist page

.tinted-image {
  
  width: 300px;
  height: 200px;
  
  background: 
    linear-gradient(
      to left,
      rgba(255, 0, 0, 1) 50%, 
      rgba(255, 0, 0, 0)
    ),
    linear-gradient(
      rgba(255,0,0,1),
      rgba(255,0,0,0) 25%
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/owl1.jpg);
}

*/
/*
#302E2F
#7E7268
#EFEDDF
#FFFDF4
*/
@media only screen and (max-width: 800px) {
	header>nav>ul>li:first-child{
		display: block;
		text-align: center;
		margin: 20px;
	}
	header>nav>ul{
		align-content: center;
		text-align: center;
	}
	header>nav>ul>li>img{
		margin: 0px;
	}
	.ft_event{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"title title title title"
		"photo photo photo photo"
		"text text text text"
	}
	.ft_event_img>img{
		max-width: 66%;
		margin-right: 10px;
		margin-left: 10px;
	}
	.ft_event_img{
		text-align: center;
	}
}

@media only screen and (max-width: 550px) {
	header>nav>ul>li{
		display: block;
		text-align: center;
		margin: 20px;
	}
	header>nav>ul{
		align-content: center;
		text-align: center;
	}
	header>nav>ul>li>img{
		margin: 0px;
	}
	main {
	  	padding-left: 10px;
	}
	.ft_event_img>img{
		max-width: 80%;
	}
}