/*ALL PAGES STYLING*/
h1, h2, h3 {
    font-family: alternate-gothic-no-2-d, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #302e2f;
}
p, a {
    font-family: alternate-gothic-no-1-d, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav-page {
    font-size:30px;
      background-color: #fffdf4;
}
h3 {
    font-size: 60px;
}
.nav-page {
    font-size:30px;
      background-color: #fffdf4;
}
h3 {
    font-size: 60px;


}
.page-logo {
    width: 180px;
    height: auto;
    /*float: right;*/
    /*display: flex;*/
    justify-content: center;
}
/*INDEX PAGE*/
#index {
    background-color: #fffdf4;
}
.nav-container {

    background: linear-gradient(270deg, #efeddf, #87867e, #bfbeb2, #7e7c76);
    background-size: 800% 800%;
    animation: gradient 10s ease infinite;

}
.logo {
    width: 60%;
    height: auto;
    display: flex;
    float: right;
    margin-left: 30px;
    margin-right: -10px;
    margin-top: -10px;
    background-color: transparent;

}

.nav-container a {
    text-decoration: none;
    background-color: transparent;

}
.nav-container a :hover {
    background-color: #efeddf;

}
.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2px;
    grid-column-gap: 10px;
    grid-gap: 0px;
}
.grid-item {

  border: 10px solid #fffdf4;
    padding: 20px;
    height: 100%;
    background-color: transparent;
   width: auto;
}
.grid-text, grid-text p {
    margin-top: 10px;
    line-height: 70px;
    margin-left: 5px;
    text-decoration: none;

    color: transparent;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #302e2f;
    font-size: 70px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(95deg, #fffdf4, #302e2f, #2E2E2B, #D6D4C7, #33332F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
/*    -webkit-text-stroke-width: 0.1px;*/
/*    -webkit-text-stroke-color: #D6D4C7,;*/
/*	-webkit-animation: hue 4s infinite linear;*/
}
/*
.grid-item:nth-child(2n) {
  border: 2px dashed red;
}
*/

#kopenhagen-grid {
    margin-top: -10px;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(40eg);
  }
  to {
    -webkit-filter: hue-rotate(-160deg);
  }
}
@keyframes color-change {
    0% {
        color: #fffdf4;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}


.calendar{
	height: 500px;
	margin-left: -60px;
    margin-bottom: 250px;
}
.month {
 padding: 100px;
  width: 100%;
border-radius: 10px;
     box-shadow:  1px 0.1px 18px #888888;

  text-align: center;
        background: linear-gradient(300deg, #efeddf, #87867e, #bfbeb2, #7e7c76);
    background-size: 800% 800%;
    animation: gradient 30s ease infinite;

}

.month ul {
  margin: 0;
  padding: 0;
    text-transform: uppercase;
    font-family: alternate-gothic-no-1-d, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}

.month ul li {
color: #302e2f;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin-top: -30px;
  padding: 10px 0;
  border-radius: 10px;
     box-shadow:  1px 0.1px 18px #888888;

  text-align: center;
        background: linear-gradient(270deg, #efeddf, #bfbeb2);
  animation: gradient 50s ease infinite;

}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #302e2f;
  text-align: center;
font-family: alternate-gothic-no-1-d, sans-serif;
    font-size: 30px;
}

.days {
  padding: 40px 0;
 background: linear-gradient(270deg,#bfbeb2, #efeddf);
  margin: 0;
 border-radius: 10px;
margin-top: 20px;

}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #302e2f;
    line-height: 40px;
    font-family: alternate-gothic-no-1-d, sans-serif;
    font-size: 30px
}

.days li .active {
  padding: 10px;
  background: #7b7368;
  color: white !important;
      border-radius: 10px;
}
.main_art {
    background: linear-gradient(90deg, #efeddf, #87867e, #bfbeb2, #7e7c76);
    background-size: 800% 800%;
    animation: gradient 20s ease infinite;
    width: auto;


}

.artist_header {
height: 500px;
    margin-top: -100px;
    margin-right: 100px;

}











/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
/*MEDIA QUIERIES*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px, max-width:) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px, max-width:768px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px, max-width:992px) {
    .logo {
        display: none;
    }
    }}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
