/*ALL PAGES STYLING*/
* {
    background-color: #fffdf4;
}

h1 {
    font-family: alternate-gothic-no-2-d, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #302e2f;
}

p {
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*INDEX PAGE*/

.logo {
    width: 160px;
    height: auto;
    display: flex;
    float: right;
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 0px;
}
.nav-container a {
    text-decoration: none;
    color: #302e2f;
    writing-mode: vertical;
    font-family: alternate-gothic-no-2-d, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #302e2f;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: transparent;
    padding: 10px;
    height: 300px;
    margin: 1px;
}

.grid-item {
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 40px;
    text-align: left;
    height: 500px;
   
}
.grid-item a {
    margin: 30px;
}